*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

.page {
  margin: 0;
  font-family: 'DancingScript';
  font-size: 40px;
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(../../images/nikita-pishchugin-w5QMJ2yIXpU-unsplash.jpg)
    center / cover no-repeat;
}
