@use './vars';
@use './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  height: 100%;
  background-color: antiquewhite;
}

p,
h1,
h2,
h3,
blockquote,
li,
figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

.page {
  margin: 0;
  font-family: 'Dancing';
  display: flex;
  flex-direction: column;
  height: 100%;
  @include mixins.font(vars.$font-color-main, 25px, 400);
}
