.menu {
  display: flex;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  &__link {
    text-transform: capitalize;
    transition: 0.3s;
    &:hover {
      transform: rotate(5deg) scale(1.1);
      text-shadow: 0 0 5px rgba(#000, 0.3);
    }
  }
}

@media screen and (width <= 768px) {
  .menu {
    &__list {
      flex-direction: column;
    }
  }
}
