.center {
  padding: 0 calc(50% - 800px);
}

@media screen and (width <= 1620px) {
  .center {
    padding: 0 120px;
  }
}

@media screen and (width <= 1440px) {
  .center {
    padding: 0 100px;
  }
}

@media screen and (width <= 1024px) {
  .center {
    padding: 0 50px;
  }
}

@media screen and (width <= 768px) {
  .center {
    padding: 0 20px;
  }
}
